body {
  margin: 0;
  padding: 0;
  background-color: #f1f0ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

li {
  text-align: left;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 50px 1fr;
      grid-template-columns: 3fr 50px 1fr;
  background-color: #800000cc;
  height: 50px;
  max-width: 1050px;
}

.app-name {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-left: 15px;
}

.notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.current-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid rgba(56, 56, 56, 0.5);
  margin: 0;
  height: 50px;
}

#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #690000cc;
  height: 60px;
}

.font-weight-2 {
  font-weight: 200;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "nav" "main";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  max-width: 1050px;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  max-width: 1024px;
}

.daily {
  border-bottom: 1px solid rgba(56, 56, 56, 0.5);
  border-right: 1px solid rgba(56, 56, 56, 0.5);
  padding: 0 15px;
}

.notify-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  opacity: .7;
  height: 25px;
  width: 25px;
}

.notify-icon:hover {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill-rule: nonzero;
  fill: currentColor;
  color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#navigation > a img {
  width: 45px;
  height: 45px;
  opacity: .7;
  padding: 0 15px;
}

#navigation > a img:hover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.social-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #800000cc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.social-icon {
  fill: white;
}

.twitter {
  display: block;
  width: 50px;
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
}

.facebook {
  display: block;
  width: 50px;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.google-plus {
  display: block;
  width: 50px;
}

.message {
  padding: 0 15px;
}

.widgetContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.form-area {
  height: 200px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.settings {
  padding: 0 15px;
}

.switch-ios.switch-light > span span {
  width: 100%;
}

.switch-ios.switch-light {
  width: 50%;
}

.switch-ios.switch-light a {
  cursor: pointer;
}

.switch-ios.switch-light > span {
  width: 100px;
}

.switch-ios.switch-light input:checked ~ span {
  -webkit-box-shadow: inset 0 0 0 30px rgba(128, 0, 0, 0.7);
          box-shadow: inset 0 0 0 30px rgba(128, 0, 0, 0.7);
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #690000;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.email p {
  width: 175px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile p {
  width: 175px;
}

select:invalid {
  color: #999;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #000;
}

.form-field {
  width: 95%;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding: 10px;
}

.settings-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.member-pics {
  height: 40px;
  border-radius: 50%;
  padding: 0px 10px;
}

.app-name-text {
  margin: 0;
}

.name {
  color: #fff;
  margin: 0;
  padding: 0px 15px;
  opacity: .7;
  -ms-flex-line-pack: center;
      align-content: center;
}

main {
  display: -ms-grid;
  display: grid;
}

.traffic {
  border-bottom: 1px solid rgba(56, 56, 56, 0.5);
  border-right: 1px solid rgba(56, 56, 56, 0.5);
  padding: 0 15px;
}

.traffic-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.traffic-nav-link {
  padding: 0 15px;
}

.traffic-nav-link:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.mobile {
  border-bottom: 1px solid rgba(56, 56, 56, 0.5);
  border-right: 1px solid rgba(56, 56, 56, 0.5);
  padding: 0 15px;
}

.social {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.social h3 {
  width: 100%;
}

.social-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-container {
  text-align: center;
  margin: 0;
  width: 30%;
}

.social-container:nth-child(2) {
  border-left: 1px solid rgba(56, 56, 56, 0.5);
  border-right: 1px solid rgba(56, 56, 56, 0.5);
}

.social-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #800000cc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.social-icon {
  fill: white;
}

.twitter {
  display: block;
  width: 50px;
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
}

.facebook {
  display: block;
  width: 50px;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.google-plus {
  display: block;
  width: 50px;
}

.new-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.members-container p {
  margin-right: 15px;
}

.members-text {
  width: 50%;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
}

.members-text p {
  margin: 0;
}

.new-members,
.member-activity {
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */