body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 240, 236);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: left;
}

