body {
    margin: 0 auto;
    padding: 0;
    background-color: $primary-background-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: left;
}

