
.alert-banner {
  display: flex;
  background-color: $primary-color;
  color: #fff;
  font-size: 20px;
  align-items: center;


  & p:first-of-type {
  margin: 5px 15px;
  }
  &-close {
    display: flex;
    font-size: 25px;
    margin: 0 auto;
    margin-right: 15px;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.alert {

  @include mq('med') {
  grid-column: 1 / span 2;
  }
  @include mq('lg') {
    max-width: 969px;
  }
}