
.settings-button {
  display: flex;
  justify-content: space-between;
  & button {
    border-radius: 5px;
  }
}

#send {
  display: inline-block;
  @include button;
} 

#save {
  @include button;
}

#cancel {
  @include button;
}