
.form-area {
  width: 90%;
  height: 200px;
  margin-top: 10px;
  border-radius: 5px;  
  padding: 4px;

  @include mq('med') {
    height: 100px;
  }
}

#userField {
  width: 90%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}