// -- grid setup -- //

.grid-container {
  display: grid;
  max-width: 1024px;
  grid-template-columns: 100%;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-areas: 
        "header"
        "nav"
        "main";

        @media (min-width: 768px) {
          grid-template-columns: 55px 1fr;
          grid-template-areas:
          "header header"
          "nav main"; 
        }
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

#grid {
  grid-area: main;
}

.widget-container-half {
  width: 95vw;

  @media (min-width: 768px) {
    width: 45vw;
  }
}
.widget-container-full {
  width: 95vw;

  @media (min-width: 768px) {
    width: 90vw;
    max-width: 969px;
  }
}