.header {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    background-color: #800000cc; 
    height: 50px;
}

.app-name {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  padding-left: 15px;
}


.notify {
    display: flex;
    align-items:  center;
    justify-content: center;
    height: 50px;
}

.current-user {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $primary-border-color;
    margin:  0;
    height: 50px; 

    & img {
      margin-left: 10px;
    }
}