.header {
  display: flex;
  background-color: $header-color; 
  height: 50px;
  margin: 0;
  padding: 0;
    @include mq('lg') {
    max-width: 1024px;
    }
}

.app-name {
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 15px;
}


.notify {
    display: flex;
    align-items:  center;
    justify-content: center;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
}

.current-user {
    display: flex;
    align-items: center;
    border-left: 1px solid $primary-border-color;
    margin-right: 15px;;
    height: 50px; 

    & img {
      margin-left: 10px;
    }
}

.notify-icon {
  display: flex;
  fill:#fff; 
  opacity: .7;
  height: 25px;
  width: 25px;
  

  &:hover {
    transition-duration:  .3s;
    opacity: 1;
    transform: scale(1.2);
    fill-rule: nonzero;
    fill: currentColor;
    color: #fff;
    transform-origin: center;
}
}

.notify-icon-new {
  background-color: $selected-color;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  align-self: baseline;
  margin-top: 10px;
}

#notifications {
  position: relative;
  display: inline-block;
  
}

.notification-links {
  display: none;
  position: absolute;
  background-color: $header-color;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  
  & a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 1px solid $primary-border-color;

    &:hover {
      background-color: $notification-hover-color;
    }
  }
}

.show {
  display: block;
}

.font-weight-2{
  font-weight: 200;
}
