.header {
  display: flex;
  background-color: #800000cc; 
  height: 50px;
  margin: 0;
  padding: 0;
    @include mq('lg') {
    max-width: 1024px;
    }
}

.app-name {
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 15px;
}


.notify {
    display: flex;
    align-items:  center;
    justify-content: center;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
}

.current-user {
    display: flex;
    align-items: center;
    border-left: 1px solid $primary-border-color;
    margin-right: 15px;;
    height: 50px; 

    & img {
      margin-left: 10px;
    }
}