#grid {
  background-color: #fff;
  @include mq('med') {
    display: grid;
    max-width: 969px;
  }
}
.main-header {
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-right: 0;

  @include mq('med') {
    grid-column: 1 / span 2;
  }
}

.main-header-search {
  
  & input {
    width: 100%;
    border: 1px solid darkgray;
    padding: 3px;
    border-radius: 5px;
    margin-right: 15px
  }

  @include mq('med') {
    display: flex;
    align-items: center;
    padding-left: 60%;
    width: 80%;
    border-left: 1px solid $primary-border-color;
    border-bottom: 1px solid $primary-border-color;
    margin: 0;
    height: 52px;
    background-color: $secondary-background-color;
  }
}

.headline {
  width: 110px;
  font-size: 1.2em;
  padding: 15px;
  background-color: white;
  margin: 0;
}

.widget-container-half {
  width: 95vw;

  @media (min-width: 768px) {
    width: 38vw;
    max-width: calc(969px / 2);
    margin: 0 auto;
  }
}
.widget-container-full {
  width: 95vw;

  @media (min-width: 768px) {
    width: 90vw;
    max-width: 950px;
    
  }
}