
.new-members {
  
  @media (min-width: 768px) {
    grid-column: 1 / span 1;
  }
}

.member-activity {

  @media (min-width: 768px) {
    grid-column: 2 / span 1;
  }
}

.new-members,
.member-activity {
  @include border($primary-border-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  & p {
    padding-bottom: 8px;
    align-self: flex-start;
    margin-top: 15px;
  }
  & p:last-child {
    margin-left: auto; 
    margin-bottom: 0;
    align-self: center;
  }

  & a {
    padding-top: 10px;
  }
}


.members-container {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.members-text {
 width: 40%;
}

