.new-members,
.member-activity {
  @include border($primary-border-color);
  display: flex;
  flex-direction: column;
  padding: 0 15px 20px 15px;
  & p {
    padding-bottom: 8px;
    align-self: flex-start;
    margin-top: 15px;
  }
  & p:last-child {
    margin-left: auto; 
    margin-bottom: 0;
    align-self: center;
  }

  & a {
    padding-top: 10px;
  }
}

.members-container {
  display: flex;
  align-items: center;
}

.members-text {
 width: 40%;
}

