.message {
  @include border($primary-border-color);
  display: flex;
  flex-direction: column;
  padding: 0 15px; 

  @media (min-width: 768px) {
    grid-column: 1 / span 1;
  }

}

.widget-container {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
}

