.message {
  @include border($primary-border-color);
  display: flex;
  flex-direction: column;
  padding: 0 15px; 
}

.widget-container {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
}

