
.social {
  @include border($primary-border-color); 

  @include mq('med') {
    grid-column: 1 / span 2;
  }

  & h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid $primary-border-color;
    @include mq('med'){
      border: 0;
      padding: 0;
    }
  }
}

.social-flex {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

 .social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
  width: 33%;
  
  &:nth-child(2) {
      border-left: 1px solid $primary-border-color;
      border-right: 1px solid $primary-border-color; 
      
  }

  @include mq('med') {
    border: 1px solid $primary-border-color;
    background-color: $secondary-background-color;
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.social-image {
  display: flex;
  justify-content: center;
  background-color: #800000cc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;

  @include mq('med') {
    margin: 10px 10px;
  }
  }
  
.social-icon {
  fill: white;
}
  
.social-text p{
  margin: 0;
  &:first-of-type{
    margin-top: 15px;
    color: $primary-color;
    font-weight: bold;
  }
  &:last-of-type{
    margin-bottom: 15px;
  }
}

  .twitter {
    transform: translate3d(0, 5px, 0);
    width: 65%;
  }
  
  .facebook {
    display: block;
    transform: translate3d(0, 0, 0);
  }
  
  .google-plus {
    display: block; 
    width: 65%;
  }