
.social-image {
  display: flex;
  justify-content: center;
  background-color: #800000cc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px auto;

  @include mq('med') {
    margin: 10px 10px;
  }
}

.social-icon {
  fill: white;
}

.twitter {
  display: block;  
  width: 50px;
  transform: translate3d(0, 5px, 0);
}

.facebook {
  display: block;
  width: 50px;
  transform: translate3d(0, 10px, 0);
}

.google-plus {
  display: block; 
  width: 50px;
}

