
.traffic {
  @include border($primary-border-color);
  background-color: #fff;
  @media (min-width: 768px) {
    grid-column: 1 / span 2;
    max-width: 969px;
  }
} 

.traffic-header {
  display: flex;
  flex-direction: column;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.traffic-nav-link {
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;    
  
  &:hover {
    transition: .3s;
    color: #fff;
    background-color: $selected-color;
    transition: .3s;
    cursor: pointer;
  }
}