
.traffic {
  @include border($primary-border-color);
  background-color: #fff;
  @media (min-width: 768px) {
    grid-column: 1 / span 2;
    grid-area: traffic;
  }
} 

.traffic-header {
  display: flex;
  flex-direction: column;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.traffic-nav-link {
  & li {
    margin: 0 10px;
  }
  &:hover {
    transition: .3s;
    color: #fff;
  }
}