
.traffic {
  @include border($primary-border-color);
  padding: 0 15px;
} 

.traffic-header {
  display: flex;
  flex-direction: column;
}

.traffic-nav {
  display: flex;
  justify-content: left;
}

.traffic-nav-link {

  &:hover {
    transition: .3s;
    color: #fff;
  }
}