
.app-name-text {
  margin: 0;
  font-size: 1.2em;

  @media (min-width: 768px) {
    font-size: 2em;
  }
}

.name {
    color: #fff;
    margin: 0;
    opacity: .7;
    align-content: center;
  }

  .section-header {
    margin-left: 15px;
  }

